{% extends 'base.html' %}

{% block content %}
<style>
    textarea{width: 100%}
</style>

<form method="post" action="/q">
  <div class="form-group">
    <label for="exampleInputTitle">title</label>
    <input type="text" class="form-control" id="exampleInputTitle" placeholder="title" name="title">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
    <div>
        <textarea class="form-control" rows="3"></textarea>
    </div>
  <input type="submit" class="btn btn-default" value="전송"/>
</form>

{% endblock %}
