{% extends "base.html" %}
{% load staticfiles %}
{% block title %}about{% endblock %}
{% block head %}about qna blog{% endblock %}
{% block subhead %}Post Your Any Question{% endblock %}
{% block img-bg %}{% static 'img/about-bg.jpg' %}{% endblock %}

<!-- Main Content -->
{% block content %}

    <h2 class="section-heading">Don't hesitate to have your question.</h2>
    <p>질문하는데 주저하지 마세요.</p>

    <blockquote>The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.</blockquote>

{% endblock %}
<hr>
